// Created in zerosprites.com for free :)

.sprites { background: url(../img/spritesheet.png) no-repeat; }
.access-icon { width: 152px; height: 152px; background-position: -718px 0; }
.bonline-key-feature-1 { width: 152px; height: 152px; background-position: -871px 0; }
.bonline-key-feature-2 { width: 152px; height: 152px; background-position: -718px -153px; }
.bonline-key-feature-3 { width: 152px; height: 152px; background-position: -871px -209px; }
.bonline-key-feature-4 { width: 152px; height: 152px; background-position: -718px -306px; }
.bonline-key-feature-5 { width: 152px; height: 152px; background-position: -1024px -342px; }
.bonline-key-feature-6 { width: 152px; height: 152px; background-position: -871px -362px; }
.bonline-laptop-stock-img { width: 558px; height: 341px; background-position: -1024px 0; }
.bonline-logo-1 { width: 149px; height: 36px; background-position: -712px -1554px; }
.discount-icon { width: 152px; height: 152px; background-position: -718px -459px; }
.how-does-it-work-step-1 { width: 358px; height: 358px; background-position: 0 0; }
.how-does-it-work-step-2 { width: 358px; height: 358px; background-position: -359px 0; }
.how-does-it-work-step-3 { width: 358px; height: 358px; background-position: -1177px -342px; }
.left-quote { width: 26px; height: 23px; background-position: -1536px -342px; }
.login-icon { width: 152px; height: 152px; background-position: -1024px -495px; }
.logo-lightbg { width: 160px; height: 56px; background-position: -871px -810px; }
.logo { width: 153px; height: 54px; background-position: -1032px -801px; }
.navbar-collapse-icon-grey { width: 22px; height: 17px; background-position: -1224px -1366px; }
.navbar-collapse-icon { width: 22px; height: 17px; background-position: -712px -1536px; }
.pause-btn { width: 141px; height: 141px; background-position: -871px -515px; }
.planhq-key-feature-1 { width: 152px; height: 152px; background-position: -718px -612px; }
.planhq-key-feature-2 { width: 152px; height: 152px; background-position: -1024px -648px; }
.planhq-key-feature-3 { width: 152px; height: 152px; background-position: -871px -657px; }
.planhq-key-feature-4 { width: 152px; height: 152px; background-position: -1186px -701px; }
.planhq-key-feature-5 { width: 152px; height: 152px; background-position: -1366px -701px; }
.planhq-key-feature-6 { width: 152px; height: 152px; background-position: -718px -765px; }
.planhq-logo-1 { width: 140px; height: 43px; background-position: -712px -1591px; }
.play-btn { width: 141px; height: 141px; background-position: -718px -918px; }
.product-laptop-stock-img { width: 558px; height: 306px; background-position: 0 -1419px; }
.receipt-bank-laptop-stock-img { width: 558px; height: 341px; background-position: 0 -1077px; }
.receipt-bank-logo-1 { width: 76px; height: 55px; background-position: -871px -153px; }
.receiptbank-key-feature-1 { width: 152px; height: 152px; background-position: -1186px -854px; }
.receiptbank-key-feature-2 { width: 152px; height: 152px; background-position: -1339px -854px; }
.receiptbank-key-feature-3 { width: 152px; height: 152px; background-position: -1032px -856px; }
.receiptbank-key-feature-4 { width: 152px; height: 152px; background-position: -871px -867px; }
.receiptbank-key-feature-5 { width: 152px; height: 152px; background-position: -559px -1077px; }
.receiptbank-key-feature-6 { width: 152px; height: 152px; background-position: -712px -1077px; }
.receiptbank-step-1 { width: 358px; height: 358px; background-position: 0 -359px; }
.receiptbank-step-2 { width: 358px; height: 358px; background-position: -359px -359px; }
.receiptbank-step-3 { width: 358px; height: 358px; background-position: 0 -718px; }
.right-quote { width: 26px; height: 23px; background-position: -1339px -701px; }
.sage-logo-1 { width: 196px; height: 40px; background-position: -712px -1685px; }
.sageone-key-feature-1 { width: 152px; height: 152px; background-position: -559px -1230px; }
.sageone-key-feature-2 { width: 152px; height: 152px; background-position: -712px -1230px; }
.sageone-key-feature-3 { width: 152px; height: 152px; background-position: -865px -1379px; }
.sageone-key-feature-4 { width: 152px; height: 152px; background-position: -559px -1383px; }
.sageone-key-feature-5 { width: 152px; height: 152px; background-position: -712px -1383px; }
.sageone-key-feature-6 { width: 152px; height: 152px; background-position: -865px -1532px; }
.sageone-laptop-stock-img { width: 558px; height: 341px; background-position: -1018px -1384px; }
.sageone-step-1 { width: 358px; height: 358px; background-position: -359px -718px; }
.sageone-step-2 { width: 358px; height: 358px; background-position: -1224px -1007px; }
.sageone-step-3 { width: 358px; height: 358px; background-position: -865px -1020px; }
.scroll-icon { width: 30px; height: 43px; background-position: -948px -153px; }
.support-icon { width: 152px; height: 152px; background-position: -559px -1536px; }